<body>
    <app-header [isHomeComponent]="true"></app-header>
    <!-- Features section-->
    <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">

                <div class="col-lg-6 col-xl-4">
                    <h2 class="h4 fw-bolder">Neu erhältlich</h2>
                    <p>Der Winter hat viel zu bieten. Idyllische, schneebedeckte Landschaften, klare, frische Luft und
                        ein gemütlicherer, oftmals entschleunigter Alltag zeichnen ihn aus. Gleichzeitig bietet die
                        Jahreszeit zahlreiche Möglichkeiten für sportliche Betätigungen.</p>
                    <div class="card mb-5 mb-xl-0" style="height:500px">
                        <div class="hero2-image">
                            <div class="card-body p-5">
                                <div class="mb-3">
                                    <img src="products/Trab-Gavia-85-Ride-10-Stelvio-85-B103704-00-320836.jpg"
                                        style="width:90%;height:400px; opacity:0">
                                </div>
                                <div class="d-grid"> <a class="text-center" style="color:white"
                                        href="https://wwwlab.cs.univie.ac.at/~vua36/bestseller.php">
                                        Jetzt entdecken
                                        <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4">
                    <h2 class="h4 fw-bolder">Bestseller</h2>
                    <p>Sie rasen auf zwei wackeligen Brettern einen schneebedeckten, 2.000 Meter hohen Berg herunter.
                        Was könnte da schon schief gehen? Damit sie heil und sicher unten ankommen, sollten Sie bei der
                        Abfahrt mit der richtigen Ausrüstung stehen.</p>
                    <div class="card mb-5 mb-xl-0" style="height:500px">
                        <div class="hero3-image">
                            <div class="card-body p-5">
                                <div class="mb-3">
                                    <img src="products/Trab-Gavia-85-Ride-10-Stelvio-85-B103704-00-320836.jpg"
                                        style="width:90%;height:400px; opacity:0">
                                </div>
                                <div class="d-grid"> <a class="text-center" style="color:white"
                                        href="https://wwwlab.cs.univie.ac.at/~vua36/bestseller.php">
                                        Jetzt entdecken
                                        <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4">

                    <h2 class="h4 fw-bolder">Die besten Tipps für den Schneeschuhkauf</h2>
                    <p>Eine Schneeschuh-Ausrüstung ist zwar im Vergleich mit anderen Wintersportarten kostengünstig in
                        der Anschaffung, stellt aber natürlich trotzdem einen gewissen finanziellen Aufwand dar.</p>
                    <div class="card mb-5 mb-xl-0" style="height: 500px">
                        <div class="hero5-image">
                            <div class="card-body p-5">
                                <div class="mb-3">
                                    <img src="products/Trab-Gavia-85-Ride-10-Stelvio-85-B103704-00-320836.jpg"
                                        style="width:90%;height:400px; opacity:0">
                                </div>
                                <div class="d-grid"> <a class="text-center" style="color:white" href="#!">
                                        Jetzt entdecken
                                        <i class="bi bi-arrow-right"></i>
                                    </a></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- Pricing section-->
    <section class="bg-light py-5 border-bottom">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Top Produkte</h2>
                <p class="lead mb-0">Top Angebote, Blitzangebote und Aktionen</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <!-- Pricing card free-->
                <div *ngFor="let product of bestsellers" class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold" style="height:60px">
                                <i class="bi bi-star-fill text-warning"></i>
                                {{product.productName}}
                            </div>
                            <div class="mb-3">
                                <img [src]="'./assets/images/products/' + product?.productImageUrl" alt="Top seller"
                                    width="100%" style="height:350px">
                                <span class="display-4 fw-bold">{{product.productPrice}} €</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2" style="font-size: 26px; white-space: nowrap;">
                                    <i class="bi bi-check text-primary"></i>
                                    <strong>{{product.vendorName}}</strong>
                                </li>
                                <li class="mb-2" style="white-space: nowrap;">
                                    <i class="bi bi-check text-primary"></i>
                                    {{product.productCategory}}
                                </li>
                                <li class="mb-2" style="white-space: nowrap;">
                                    <i class="bi bi-check text-primary"></i>
                                    {{product.productDescription}}
                                </li>

                                <li class="mb-2" style="white-space: nowrap;">
                                    <i class="bi bi-check text-primary"></i>
                                    atmungsaktiv
                                </li>
                                <li class="mb-2" style="white-space: nowrap;">
                                    <i class="bi bi-check text-primary"></i>
                                    feuchtigkeitsableitend
                                </li>
                                <li class="mb-2" style="white-space: nowrap;">
                                    <i class="bi bi-check text-primary"></i>
                                    bietet optimale Bewegungsfreiheit
                                </li>
                                <li class="mb-2" style="white-space: nowrap;">
                                    <i class="bi bi-check text-primary"></i>
                                    geringes Packmaß
                                </li>
                            </ul>
                            <div class="d-grid justify-content-center"><a class="btn btn-outline-primary" href="#!">Zum
                                    Einkaufswagen
                                    hinzufügen</a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>





    <!-- Testimonials section-->
    <section class="py-5 border-bottom">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Kundenrezensionen</h2>
                <p class="lead mb-0">Erlebe jetzt die besten Momente unserer Kunden in der Alpinen Welt.</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <!-- Testimonial 1-->
                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-1">Der von uns gewünschte Skihelm war in der Filiale in Liezen nicht
                                        mehr lagernd, die Verkäuferin war sehr freundlich und hat sofort nachgesehen, ob
                                        er online verfügbar ist und hat ihn dann für uns bestellt. Hat alles gut
                                        geklappt, haben den Helm noch rechtzeitig vor Weihnachten erhalten.</p>
                                    <div class="small text-muted">- Client Name, Location</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial 2-->
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-1">Kostenloser Versand bei Abholung im Shop, gute Preise, Tolles
                                        Personal. Zudem hatte ich einmal etwas falsches als Zusatz zu einem Produkt
                                        bestellt und ohne etwas zu sagen, haben sie dennoch, das richtige montiert. Zwar
                                        musste ich die Differenz zahlen, aber dafür war es Top.</p>
                                    <div class="small text-muted">- Client Name, Location</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->

    <app-footer></app-footer>
</body>