<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Business Frontpage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body>
    <app-header [isHomeComponent]="true"></app-header>
    <!-- Features section-->
    <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">

                <div class="col-lg-6 col-xl-4">
                    <h2 class="h4 fw-bolder">Neu erhältlich</h2>
                    <p>Der Winter hat viel zu bieten. Idyllische, schneebedeckte Landschaften, klare, frische Luft und
                        ein gemütlicherer, oftmals entschleunigter Alltag zeichnen ihn aus. Gleichzeitig bietet die
                        Jahreszeit zahlreiche Möglichkeiten für sportliche Betätigungen.</p>
                    <div class="card mb-5 mb-xl-0" style="height:500px">
                        <div class="hero2-image">
                            <div class="card-body p-5">
                                <div class="mb-3">
                                    <img src="products/Trab-Gavia-85-Ride-10-Stelvio-85-B103704-00-320836.jpg"
                                        style="width:90%;height:400px; opacity:0">
                                </div>
                                <div class="d-grid"> <a class="text-center" style="color:white"
                                        href="https://wwwlab.cs.univie.ac.at/~vua36/bestseller.php">
                                        Jetzt entdecken
                                        <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4">
                    <h2 class="h4 fw-bolder">Bestseller</h2>
                    <p>Sie rasen auf zwei wackeligen Brettern einen schneebedeckten, 2.000 Meter hohen Berg herunter.
                        Was könnte da schon schief gehen? Damit sie heil und sicher unten ankommen, sollten Sie bei der
                        Abfahrt mit der richtigen Ausrüstung stehen.</p>
                    <div class="card mb-5 mb-xl-0" style="height:500px">
                        <div class="hero3-image">
                            <div class="card-body p-5">
                                <div class="mb-3">
                                    <img src="products/Trab-Gavia-85-Ride-10-Stelvio-85-B103704-00-320836.jpg"
                                        style="width:90%;height:400px; opacity:0">
                                </div>
                                <div class="d-grid"> <a class="text-center" style="color:white"
                                        href="https://wwwlab.cs.univie.ac.at/~vua36/bestseller.php">
                                        Jetzt entdecken
                                        <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4">

                    <h2 class="h4 fw-bolder">Die besten Tipps für den Schneeschuhkauf</h2>
                    <p>Eine Schneeschuh-Ausrüstung ist zwar im Vergleich mit anderen Wintersportarten kostengünstig in
                        der Anschaffung, stellt aber natürlich trotzdem einen gewissen finanziellen Aufwand dar.</p>
                    <div class="card mb-5 mb-xl-0" style="height: 500px">
                        <div class="hero5-image">
                            <div class="card-body p-5">
                                <div class="mb-3">
                                    <img src="products/Trab-Gavia-85-Ride-10-Stelvio-85-B103704-00-320836.jpg"
                                        style="width:90%;height:400px; opacity:0">
                                </div>
                                <div class="d-grid"> <a class="text-center" style="color:white" href="#!">
                                        Jetzt entdecken
                                        <i class="bi bi-arrow-right"></i>
                                    </a></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- Pricing section-->
    <section class="bg-light py-5 border-bottom">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Top Produkte</h2>
                <p class="lead mb-0">Top Angebote, Blitzangebote und Aktionen</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <!-- Pricing card free-->
                <div *ngFor="let product of bestsellers" class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5" style="width:auto;">
                            <div class="text-uppercase fw-bold" style="font-size: 20px; height: fit-content; ">
                                <i class="bi bi-star-fill text-warning"></i>
                                {{product.productName}}
                            </div>
                            <div class="mb-3">
                                <img [src]="'./assets/images/products/' + product?.productImageUrl" alt="Top seller"
                                    width="100%" style="height:300px; 
                                    object-fit:scale-down;">
                                <span class=" display-4 fw-bold justify-content-center" style="text-align: center; font-size: 36px; margin-left: 25%; margin-top: 10px;
                                    margin-bottom: 10px;">{{product.productPrice}}
                                    €</span>
                            </div>
                            <ul class="list-unstyled mb-4" style="height: 300px;">
                                <li class="mb-2 text-uppercase" style="font-size: 23px; white-space: nowrap;">
                                    <strong>{{product.vendorName}}</strong>
                                </li>
                                <li class="mb-2 text-uppercase fw-bold" style="font-size: 18px; white-space: nowrap;">
                                    {{product.productCategory}}
                                </li>
                                <li class="mb-2">
                                    {{product.productDescription}}
                                </li>

                                <li class="mb-2" style="white-space: nowrap;">
                                    <i class="bi bi-check text-primary"></i>
                                    atmungsaktiv
                                </li>
                                <li class="mb-2" style="white-space: nowrap;">
                                    <i class="bi bi-check text-primary"></i>
                                    feuchtigkeitsableitend
                                </li>
                                <li class="mb-2" style="white-space: nowrap;">
                                    <i class="bi bi-check text-primary"></i>
                                    bietet optimale Bewegungsfreiheit
                                </li>
                                <li class="mb-2" style="white-space: nowrap;">
                                    <i class="bi bi-check text-primary"></i>
                                    geringes Packmaß
                                </li>
                            </ul>
                            <div class="d-grid justify-content-center"><a class="btn btn-outline-primary" href="#!">Zum
                                    Einkaufswagen
                                    hinzufügen</a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>





    <!-- Testimonials section-->
    <section class="py-5 border-bottom">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Kundenrezensionen</h2>
                <p class="lead mb-0">Erlebe jetzt die besten Momente unserer Kunden in der Alpinen Welt.</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <!-- Testimonial 1-->
                    <div *ngFor="let reviewer of topReviewers">

                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i
                                            class="bi bi-chat-right-quote-fill text-primary fs-0.5"></i>
                                    </div>
                                    <div class="ms-4">
                                        <div class="small-ratings">
                                            <i *ngFor="let star of getStarRating(reviewer.reviewRating)"
                                                [class]="star"></i>
                                        </div>
                                        <p class="mb-1">{{reviewer.reviewComment}}</p>

                                        <div class="small text-muted">- {{reviewer.customerName}}, am {{
                                            reviewer?.reviewDate| date:'d. MMMM yyyy' }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->

    <app-footer></app-footer>
</body>