<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Business Frontpage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <label>
        <h5 class="mb-1" style="color: black; justify-content: start; margin-top: 30px;">Kundenrezension verfassen </h5>
    </label>
    <div class="bg-white rounded shadow-sm p-4 mb-4" style="width: 1050px; justify-self: center; margin-left: 30px;">
        <div class="star-source">
            <svg>
                <linearGradient x1="50%" y1="5.41294643%" x2="87.5527344%" y2="65.4921875%" id="grad">
                    <stop stop-color="#5372F0" offset="0%"></stop> 
                    <stop stop-color="#2E3C89" offset="60%"></stop> <!-- Darker shade of blue -->
                    <stop stop-color="#1D2769" offset="100%"></stop> <!-- Even darker shade of blue -->
                </linearGradient>
                <symbol id="star" viewBox="153 89 106 108">
                    <polygon id="star-shape" stroke="url(#grad)" stroke-width="5" fill="currentColor"
                        points="206 162.5 176.610737 185.45085 189.356511 150.407797 158.447174 129.54915 195.713758 130.842203 206 95 216.286242 130.842203 253.552826 129.54915 222.643489 150.407797 235.389263 185.45085">
                    </polygon>
                </symbol>
            </svg>

        </div>
        <div class="rating-container" [formGroup]="reviewForm">
            <input type="radio" name="rating" formControlName="rating" value="5" id="five" (change)="onStarChange(5)">
            <label for="five">
                <svg class="rating">
                    <use xlink:href="#star" />
                </svg>
            </label>
            <input type="radio" name="rating" formControlName="rating" value="4" id="four" (change)="onStarChange(4)">
            <label for="four">
                <svg class="rating">
                    <use xlink:href="#star" />
                </svg>
            </label>
            <input type="radio" name="rating" formControlName="rating" value="3" id="three" (change)="onStarChange(3)">
            <label for="three">
                <svg class="rating">
                    <use xlink:href="#star" />
                </svg>
            </label>
            <input type="radio" name="rating" formControlName="rating" value="2" id="two" (change)="onStarChange(2)">
            <label for="two">
                <svg class="rating">
                    <use xlink:href="#star" />
                </svg>
            </label>
            <input type="radio" name="rating" formControlName="rating" value="1" id="one" (change)="onStarChange(1)">
            <label for="one">
                <svg class="rating">
                    <use xlink:href="#star" />
                </svg>
            </label>

        </div>

        <form [formGroup]="reviewForm" (submit)="onSubmit()">
            <div class="form-group">
    
                <textarea formControlName="comment" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-dark" style="width: fit-content; background-color: #5372F0; color: whitesmoke; border-color: whitesmoke; outline: whitesmoke;" type="submit">Absenden</button>
            </div>
        </form>
    </div>
</body>