<body>
  <a class="center" href="#!">Icerberg Lounge</a>

  <div class="wrapper">
    <h2 style="text-align: center;">Account erstellen</h2>
    <form [formGroup]="signupForm" (submit)="onSubmit()">
      <div class="input-box">
        <input type="text" placeholder="Name" id="name" formControlName="name">
      </div>
      <div class="input-box">
        <input type="text" placeholder="E-mail eingeben" id="name" formControlName="email">
      </div>
      <div class="input-box">
        <input type="password" placeholder="Create your password" id="name" formControlName="password">
      </div>
      <div class="input-box">
        <input type="password" placeholder="Password bestätigen" id="name">
      </div>
      <div class="input-box">
        <input type="text" placeholder="Straße" id="name" formControlName="street">
      </div>
      <div class="input-box">
        <input type="text" placeholder="Stadt" id="name" formControlName="city">
      </div>
      <div class="input-box">
        <input type="text" placeholder="PLZ" id="name" formControlName="postalCode">
      </div>
      <div class="input-box">
        <input type="text" placeholder="Land" id="name" formControlName="country">
      </div>

      <div class="policy">
        <input type="checkbox">
        <h3>I accept all terms & condition</h3>
      </div>

      <div class="input-box button">
        <input type="submit" value="Register Now">
      </div>
    </form>

  </div>
</body>

<app-footer></app-footer>