<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

</head>


<app-header [isProductComponent]="true"></app-header>

<body>
    <section class="section-products">
        <div class="container">
            <div class="row">
                <!-- Single Product -->
                <div *ngFor="let product of products" class="col-md-6 col-lg-4 col-xl-3">
                    <div id="product-1" class="single-product">
                        <div class="part-1" [ngStyle]="getProductImageStyle(product.productImageUrl)">
                            <ul>
                                <li><a [routerLink]="['/products', product.productId]"><i class="fa fa-expand"></i></a></li>
                                <li><a [routerLink]="['/products', product.productId]"><i class="fa fa-shopping-cart"></i></a></li>
                              </ul>
                        </div>
                        <div class="part-2">
                            <h3 class="product-title">{{product.productName}}</h3>
                            <h4 class="product-old-price">{{product.productPrice| currency : '€'}}</h4>
                            <h4 class="product-price">{{product.productPrice| currency : '€'}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  
</body>

<app-footer></app-footer>