<app-header></app-header>

<body>
    <section class="section-products">
        <div class="container">
            <div class="row">
                <!-- Single Product -->
                <div *ngFor="let product of products" class="col-md-6 col-lg-4 col-xl-3">
                    <div id="product-1" class="single-product">
                        <div class="part-1" [ngStyle]="getProductImageStyle(product.productImageUrl)">
                            <ul>
                                <li>
                                    <form action="addShoppingCart.php" method="POST">
                                        <button type="submit" name="add_to_card" value="Zum Einkaufswagen hinzufügen"
                                            class="btn btn-success">Zum Einkaufswagen hinzufügen</button>
                                    </form>
                                </li>
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            </ul>
                        </div>
                        <div class="part-2">
                            <h3 class="product-title">{{product.productName}}</h3>
                            <h4 class="product-old-price">{{product.productPrice| currency : '€'}}</h4>
                            <h4 class="product-price">{{product.productPrice| currency : '€'}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="form-popup" id="myForm">
        <form action="login.php" class="form-container" method="POST">
            <h1>Login</h1>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" value="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="passwort" value="passwort" required>

            <button type="submit" class="btn">Login</button>
            <button type="button" class="btn cancel" onclick="closeLogin()">Close</button>
        </form>
    </div>

    <div class="center">
        <div class="form-popup-sign_in" id="SignUp">
            <form action="signup.php" class="form-container-sign_in" method="post">
                <form action="?register=1" method="post">
                    <h1>SignUp</h1>
                    <label for="vorname"><b>Vorname</b></label>
                    <input type="text" name="vorname" required>

                    <label for="nachname"><b>Nachname</b></label>
                    <input type="text" name="nachname" required>

                    <label for="strasse"><b>Strasse</b></label>
                    <input type="text" name="strasse" required>

                    <label for="plz"><b>PLZ</b></label>
                    <input type="text" name="plz" required>

                    <label for="bankverbindung"><b>Bankverbindung</b></label>
                    <input type="text" name="iban" required>

                    <label for="telefonnummer"><b>Telefonnummer</b></label>
                    <input type="text" placeholder="optional" name="telefonnummer" required>

                    <label for="benutzername"><b>Benutzername</b></label>
                    <input type="text" name="benutzername" required>

                    <label for="e-mail"><b>E-Mail</b></label>
                    <input type="text" placeholder="optional" name="email" required>

                    <label for="passwort"><b>Passwort</b></label>
                    <input type="text" placeholder="mindestens 8 Zeichen" name="passwort" required>

                    <label for="passwort_verifierzung"><b>Passwort nochmals eingeben</b></label>
                    <input type="text" name="passwort2" required>

                    <button type="submit" class="btn-sign_in">SignUp</button>
                    <button type="button" class="btn-sign_in cancel" onclick="closeSignUp()">Close</button>
                </form>
            </form>
        </div>
    </div>
</body>

<app-footer></app-footer>