<body>
    <header class="hero-image">
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-*">
            <div class="container px-5" style="width:100%; height:100px">
                <a class="navbar-brand" style="width:100px" href="#!">Icerberg Lounge</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page"
                                href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:white;" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:white;" href="#!">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:white;" href='/products'>Products</a></li>


                    </ul>
                    <div *ngIf="loginService.isLoggedIn(); else btnGroup">
                        <div class="btn-group">
                            <button class="button" (click)="navigateToSignup()">Mein Account</button>
                            <button class="button" (click)="logout()">Logout</button>
                            <button class="button" (click)="navigateToSignup()">Meine Bestellungen</button>
                            <button class="button" (click)="navigateToShoppingCart()">


                                <button type="button" (click)="navigateToShoppingCart()" class="button">
                                    Einkaufswagen
                                    <span class="badge badge-dark" style="background-color: rgba(0,0,0,.5);"></span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-cart" viewBox="0 0 16 16">
                                        <path
                                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                </button>
                            </button>
                        </div>
                    </div>

                    <ng-template #btnGroup>
                        <div class="btn-group">
                            <button class="button" (click)="navigateToLogin()">Login</button>
                            <button class="button" (click)="navigateToSignup()">Account erstellen</button>
                            <button class="button" (click)="navigateToShoppingCart()">

                                <button type="button" (click)="navigateToShoppingCart()" class="button">
                                    Einkaufswagen
                                    <span class="badge badge-dark" style="background-color: rgba(0,0,0,.5);"></span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-cart" viewBox="0 0 16 16">
                                        <path
                                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                </button>
                            </button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </nav>

        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white mb-2">SKITOUREN WELT</h1>
                        <div *ngIf="!loginService.isLoggedIn(); else welcomeMessage">
                            <p class="lead text-white mb-4">Alles was du für deine Skitour brauchst</p>
                        </div>

                            <ng-template #welcomeMessage>
                                <p class="lead text-white mb-4">Wilkommen {{loginService.getCustomerID}} Alles was du für deine Skitour brauchst</p>

                            </ng-template>

                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <a class="btn btn-outline-light btn-lg px-4" href="#features">Skitouren Welt entdecken</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>