
<body>
  <div class="card">
    <div class="row">
      <div class="col-md-8 cart">
        <div class="title">
          <div class="row">
            <div class="col">
              <h4><b>Shopping Cart</b></h4>
            </div>
            <div class="col align-self-center text-right text-muted">
              <div *ngIf="loginService.isLoggedIn(); else emptyCart">
                <ng-container>
                  <tr>
                    <td colspan="5" style="text-align:center;">
                      <ng-container *ngIf="getTotalItems() > 1; else singleItemBlock">
                        {{ getTotalItems() }} items
                      </ng-container>
                      <ng-template #singleItemBlock>
                        <ng-container *ngIf="getTotalItems() === 1; else emptyBlock">
                          1 item
                        </ng-container>
                        <ng-template #emptyBlock>
                          Empty
                        </ng-template>
                      </ng-template>
                    </td>
                  </tr>

                </ng-container>
              </div>

              <ng-template #emptyCart>
                <tr>
                  <td colspan="5" style="text-align:center;">You have no products added in your Shopping Cart</td>
                </tr>
              </ng-template>
            </div>
          </div>
        </div>

        <div *ngFor="let cartItem of this.cart.cartItemDTOS" class="row border-top border-bottom">
          <div class="row main align-items-center">
            <div class="col-2"><img class="img-fluid" [src]="'./assets/images/products/' + cartItem?.productImageUrl">
            </div>
            <div class="col">
              <div class="row text-muted">{{cartItem.productCategory}}</div>
              <div class="row">{{cartItem.productName}}</div>
            </div>
            <div class="col">
              <div class="btn-group">
                  <button type="submit" name="delete_from_card" value="delete_from_card" class="border">-</button>
                <a href="#" class="border" style="height:100%; width:100%;">
                  {{cartItem.cartItemQuantity}}
                </a>
                  <button type="submit" (click)="addToCart(cartItem?.productId)" name="add_to_card" value="add_to_card" class="border">+</button>
              </div>
            </div>
            <div class="col">&euro; {{cartItem.cartItemSubprice}}
                <button type="submit" name="delete_from_card" value="delete_from_card" class="btn"
                  style="margin-top:0%; display:inline; width:30%; background-color:transparent; border-style:none; color:black ">&#10005;</button>
            </div>
          </div>
        </div>

        <div class="back-to-shop"><a href="#!">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
      </div>
      <div class="col-md-4 summary">
        <div>
          <h5><b>GESAMT</b></h5>
        </div>
        <hr>
        <div class="row">
          <div class="col" style="padding-left:0;">ITEMS
            {{cart.cartItemDTOS?.length}}
          </div>
          <div class="col text-right">&euro;
            {{cart.totalPrice}}
          </div>
        </div>
        <form [formGroup]="orderForm" (submit)="placeOrder()">

          <label for="shippingDetails">LIEFERUNG</label>
          <select id="shippingDetails" formControlName="shippingDetails">
            <option class="text-muted">Standard-Delivery- &euro;5.00</option>
          </select>
          <label for="paymentMethod">ZAHLUNGSART</label>
          <select id="paymentMethod" formControlName="paymentMethod">
            <option class="text-muted">Paypal</option>
            <option class="text-muted">Bankverbindung</option>
            <option class="text-muted">Kreditkarte</option>
          </select>
          <label for="code">CODE EINGEBEN</label>
          <input id="code" formControlName="code" placeholder="Enter your code">

          <label for="adress">LIEFERADRESSE</label>
          <input id="adress" formControlName="deliveryAddress" placeholder="Lieferadresse eingeben">

          <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
            <div class="col">GESAMTPREIS</div>
            <div class="col text-right">&euro;
              {{this.cart.totalPrice + 5}}
            </div>
          </div>

          <button type="submit" name="add_to_order" value="add_to_order" class="btn btn-primary"
          style="border-radius: 25px;" [disabled]="orderForm.invalid">CHECKOUT</button>
        </form>
      </div>
    </div>

  </div>
</body>